.main1 {
    position: absolute;
width: 774px;
height: 115px;
left: 333px;
top: 80px;
font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 135px;
line-height: 150px;
text-align: center;
color: #000000;

}

.main2 {
    position: absolute;
width: 752px;
height: 42px;
left: 344px;
top: 480px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 31px;
line-height: 42px;
text-align: center;
color: #000000;

}

.main3 {
    position: absolute;
width: 214px;
height: 50px;
left: 613px;
top: 550px;

background: #FF5959;
border-radius: 12px;
}