main {
	.hero {
		.shape1 {
			position: absolute;
			right: -10px;
			top: -20px;
			width: 120px;

			@media (min-width: 500px) {
				top: -40px;
			}

			@media (min-width: 1000px) {
				width: 150px;
				top: -100px;
			}
		}
	}
	.blogsList {
		margin: 100px auto;
		// background-color: blue;

		.tags {
			margin-bottom: 40px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 10px;
		}

		.blogCard {
			width: 100%;
			text-decoration: none;
			color: black;

			&:hover {
				text-decoration: underline;
			}

			.blogTitle {
				margin-top: 10px;
			}
		}
	}
}
