main {
	.hero {
		.shape1 {
			position: absolute;
			right: -10px;
			top: -20px;
			width: 120px;

			@media (min-width: 500px) {
				top: -40px;
			}

			@media (min-width: 1000px) {
				width: 150px;
				top: -100px;
			}
		}
	}
	.blogsList {
		margin: 100px auto;

		.tags {
			margin-bottom: 40px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 10px;
		}

		.blogCard {
			text-decoration: none;
			color: black;
			& img {
				transform: scale(0.98);
				transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}
			&:hover img {
				transform: scale(1);
			}
		}
	}
}
