.main {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 0px;
}
.left {
	height: 900px;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.right {
	background-color: #ff5959;
	height: 900px;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 229px;
	padding-top: 248px;
}

@media (max-width: 750px) {
	.main {
		flex-direction: column;
	}
	.left {
		height: 50%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.right {
		background-color: #ff5959;
		height: 50%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-bottom: 110px;
		padding-top: 72px;
	}
}
